<h2>ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワード(再入力)' %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :name, '新しい名前' %><br>
    <%= f.text_field :name %>
  </div>

  <style>
  .quest {
    font-style: italic;
    margin-top: 15px;
  }
  </style>

  <h3>神さま「転生させてあげる前に、3つの質問をさせて！」</h3>

  <div class="quest">Q. この中で好きだったゲームは？</div>
  <label><input name="user[age]" type="radio" value="5" class="q1"> ピンボール</label><br>
  <label><input name="user[age]" type="radio" value="3" class="q1"> パズドラ</label><br>
  <label><input name="user[age]" type="radio" value="6" class="q1"> 野球</label><br>
  <label><input name="user[age]" type="radio" value="2" class="q1"> Splatoon</label><br>
  <label><input name="user[age]" type="radio" value="4" class="q1"> マインクラフト</label><br>
  <label><input name="user[age]" type="radio" value="1" class="q1"> 全部知らない</label><br>

  <div class="quest">Q. 自分は幸せだったと思う？</div>
  <label><input name="user[village_id]" type="radio" value="3"> すごく幸せだった</label><br>
  <label><input name="user[village_id]" type="radio" value="1"> それなりに幸せだった</label><br>
  <label><input name="user[village_id]" type="radio" value="2"> 幸せじゃなかった</label><br>

  <div class="quest">Q. 死ぬ前にやりたかったことは？</div>
  <label><input name="user[job_id]" type="radio" value="1"> 誰にもできないことをする</label><br>
  <label><input name="user[job_id]" type="radio" value="2"> 好きなものをずっと大切にする</label><br>
  <label><input name="user[job_id]" type="radio" value="3"> 海を見る</label><br>
  <label><input name="user[job_id]" type="radio" value="4"> 大事な人を守る</label><br>
  <label><input name="user[job_id]" type="radio" value="5"> 動物と暮らす</label><br>
  <label><input name="user[job_id]" type="radio" value="6"> 人に尊敬される</label><br>
  <label><input name="user[job_id]" type="radio" value="7"> ずっと使われるものを作る</label><br>
  <label><input name="user[job_id]" type="radio" value="8"> 立派な研究者になる</label><br>
  <label><input name="user[job_id]" type="radio" value="9"> 武器の使い手になる</label><br>
  <label><input name="user[job_id]" type="radio" value="10"> 1つのことに熱中する</label><br>
  <label><input name="user[job_id]" type="radio" value="11"> 酒に溺れる</label><br>
  <label><input name="user[job_id]" type="radio" value="12"> ふかふかの布団で寝る</label><br>

  <script>
    const quests = document.querySelectorAll('.q1');
    quests.forEach(element => {
      element.value = (element.value - 1) * 12 + Math.floor(Math.random() * 12)
    });
  </script>

  <div class="actions">
    <button type="submit" style="margin-top: 15px">転生</button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
