<p id="notice"><%= notice %></p>

<% if params[:type] == 'village' then %>
  <h1><%= Village.find(params[:id]).name %>村の仲間たち</h1>
<% elsif params[:type] == 'job' %>
  <h1><%= Job.find(params[:id]).name %>の仲間たち</h1>
<% end %>

<% @posts.each do |post| %>
  <div>
    <div><b><%= post.user.name %></b> (<%= post.user.age %>) - <%= post.village.name %>村 <%= post.job.name %></div>
    <div><%=safe_join(post.content.split("\n"),tag(:br))%></div>
    <% if post.user.id === current_user.id then %>
      <div><%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    <hr>
  </div>
<% end %>

<br>

<%= render 'form', post: @post %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>